/trunk/src/packages
/trunk/src/Register.Web/bin
/trunk/src/Register.Web/obj
/trunk/src/Register.WebAPI/obj
/trunk/src/Register.WebAPI/bin
/trunk/src/Register.DAL/bin
/trunk/src/Register.DAL/obj
/trunk/src/Register.DOPA.Biz/obj
/trunk/src/Register.DOPA.Biz/bin
/trunk/src/Register.Database/obj
/trunk/src/Register.Database/bin
/trunk/src/Register.Models/obj
/trunk/src/Register.Models/bin
/trunk/src/Register.Reports/bin
/trunk/src/Register.Reports/obj
/trunk/src/Resources/bin
/trunk/src/Resources/obj
/trunk/src/.vs/CDDWeb/v14/.suo
/Release
/trunk/src/Register.Web/temp
