<div class="card border-danger">
    <div class="card-header bg-danger text-white my-auto">
        <h5 class="font-weight-bold d-inline-block float-right">
            @*<i class="fas fa-broadcast-tower"></i>&nbsp;*@
            รับสมัครสอบแข่งขันเพื่อบรรจุและแต่งตั้งบุคคลเข้ารับราชการใน ตำแหน่งเจ้าพนักงานปกครองปฏิบัติการ (ปลัดอำเภอ)
            ประจำปีงบประมาณ พ.ศ. 2564
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-11">
                <a class="btn btn-info text-white ml-2" href="~/Docs/2564-05-05/enroll-notice/ANN_DELAY_05.pdf" target="_blank">ดาวน์โหลดประกาศ คลิกที่นี่ <i class="fas fa-download"></i></a> <span class="right badge badge-danger blink_me">New</span>
            </div>
        </div>
    </div>
</div>
