<div class="row justify-content-center mt-3 mb-0 mx-1">
    <div class="col-12 col-md-12 border border-gray rounded">
        <div class="row text-center justify-content-center">
            <div class="col-12 pt-2">
                <h5>เว็บไซต์นี้จะใช้ได้ดีร่วมกับ</h5>
            </div>
        </div>
        <div class="row text-center justify-content-center my-3 p-0">
            <div class="col-3 d-inline text-center m-0 p-0">
                <img src="~/Content/Images/icon-chrome.png" style="width: 40px;" /><br />
                <span class="text-center">Google Chrome</span>
            </div>
            <div class="col-1 d-inline text-center m-0 p-0 my-auto">หรือ</div>
            <div class="col-3 d-inline text-center m-0 p-0">
                <img src="~/Content/Images/icon-Edge.png" style="width: 40px;" /><br />
                <span class="text-center">Microsoft Edge</span>
            </div>
            <div class="col-1 d-inline text-center m-0 p-0 my-auto">หรือ</div>
            <div class="col-3 d-inline text-center m-0 p-0">
                <img src="~/Content/Images/icon-firefox.jpg" style="width: 40px;" /><br />
                <span class="text-center">Mozilla Firefox</span>
            </div>
        </div>
    </div>
</div>
