<div class="modal-header bg-lightgreen" ng-init="init()">
    <h5 class="modal-title text-light font-weight-bold" id="projectEventModalLabel">ตัวอย่าง เลขหลังบัตรประจำตัวประชาชน</h5>
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="box-body">
        <div class="row my-2">
            <div class="col-12 col-md-12 px-3 text-center">
                <img src="~/Content/Images/LaserSuggestion.png" style="width: 100%;" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-standard-size ml-2" ng-click="cancel()">ปิด</button>
</div>
