
<div class="row information">
    <label class="font-weight-bold col-12 col-md-4 control-label col-form-label text-md-right">เลขประจำตัวสอบ</label>
    <div class="col-12 col-md-8 col-form-label">
        {{enrollInfo.EXAM_SEAT_NO}}
    </div>
</div>
<div class="row information">
    <label class="font-weight-bold col-12 col-md-4 control-label col-form-label text-md-right">ชื่อ-นามสกุล</label>
    <div class="col-12 col-md-8 col-form-label">
        {{enrollInfo.FULL_NAME}}
    </div>
</div>
<div class="row information">
    <label class="font-weight-bold col-12 col-md-4 control-label col-form-label text-md-right">ตำแหน่งที่สมัครสอบ</label>
    <div class="col-12 col-md-8 col-form-label">
        {{enrollInfo.CLASS_NAME_TH}}
    </div>
</div>
<div class="row information">
    <label class="font-weight-bold col-12 col-md-4 control-label col-form-label text-md-right">ภาค/เขต</label>
    <div class="col-12 col-md-8 col-form-label">
        {{enrollInfo.CENTER_EXAM_NAME}}
    </div>
</div>
<div class="row information">
    <label class="font-weight-bold col-12 col-md-4 control-label col-form-label text-md-right">ข้อมูลความพิการ</label>
    <div class="col-12 col-md-8 col-form-label">
        {{enrollInfo.DEFECTIVE_STATUS}}
    </div>
</div>
