<div class="modal-header bg-lightgreen" ng-init="init()" style="background-color: #e9b237;">
    <h5 class="modal-title header-table font-weight-bold" id="projectEventModalLabel">บริการเสริม SMS</h5>
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="box-body">
        <div class="row my-2">
            <div id="agreement" class="col-12 col-md-12 col-form-label px-3" style="height:auto;">
                <div class="font-weight-bold text-center">ค่าบริการเสริมจากบริษัท CWN 20 บาท โดยบริการเสริมไม่เกี่ยวข้อง กับ กรมการพัฒนาชุมชน<br /><br /></div>
                <div class="offset-md-3">
                    1. แจ้งเตือนกำหนดวันชำระเงินวันสุดท้าย<br />
                    2. แจ้งเตือนวันประกาศรายชื่อผู้สมัครสอบ<br />
                    3. แจ้งเตือนวันสอบล่วงหน้า<br />
                    4. แจ้งเตือนเมื่อถึงวันประกาศผลสอบข้อเขียน<br />
                    5. แจ้งเตือนเมื่อมีการประกาศสำคัญอื่นๆ เพิ่มเติมจากหน่วยงาน (ไม่เกิน 3 ครั้ง)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success btn-standard-size" ng-click="ok()">ปิด</button>
</div>