<div class="modal-header bg-info" ng-init="init()" style="background-color: #e9b237;">
    <h5 class="modal-title text-light font-weight-bold" id="projectEventModalLabel">ข้อตกลงและเงื่อนไขการใช้บริการ SMS</h5>
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="box-body">
        <div class="row my-2">
            <div id="agreement" class="col-12 col-md-12 col-form-label px-3" style="overflow-y: scroll; height:auto; border: solid 1px lightgray;">
                ข้อตกลงและเงื่อนไขการใช้บริการ SMS ("ข้อตกลงฯ") ฉบับนี้ ใช้บังคับระหว่าง บริษัท จันวาณิชย์ จำกัด กับ
                ผู้ใช้บริการซึ่งได้รับการอนุมัติจากบริษัทให้ใช้บริการประเภทใดประเภทหนึ่งกับบริษัท ("ผู้ใช้บริการ")<br />
                1. ช่องทางการสมัครใช้บริการ หรือเปลี่ยนแปลงรายละเอียดการรับข้อมูลผ่าน SMS ที่เคยให้ข้อมูลไว้กับบริษัท ช่องทางการยกเลิกการใช้บริการ 
                ที่บริษัทจะเปิดให้บริการต่อไปในอนาคต โดยบริษัทจะดำเนินการตาม
                ความประสงค์ของผู้ใช้บริการโดยเร็ว และการสมัครใช้บริการ การยกเลิกการใช้บริการ และการเปลี่ยนแปลงหมายเลข
                โทรศัพท์เคลื่อนที่ที่ผู้ใช้บริการได้ลงทะเบียนไว้กับบริษัทจะมีผลสมบูรณ์เมื่อผู้ใช้บริการได้รับข้อความ SMS ยืนยันจาก
                บริษัท<br />
                2. ข้อมูลส่วนตัวของผู้ใช้บริการถือเป็นข้อมูลที่มีความสำคัญ หากผู้ใช้บริการไม่มีความระมัดระวังหรือประมาทเลินเล่อจนเป็น
                สาเหตุให้มีผู้ทุจริตลักลอบนำข้อมูลส่วนตัวของผู้ใช้บริการสมัครเข้าใช้บริการ SMS กับบริษัทและก่อให้เกิดความ
                เสียหายกับผู้ใช้บริการแล้ว ผู้ใช้บริการตกลงรับผิดชอบในความเสียหายดังกล่าว แต่เพียงผู้เดียว<br />
                3. กรณีสมัครรับบริการ SMS ที่รับข้อมูลผ่านทาง SMS ผู้ใช้บริการต้องมีโทรศัพท์เคลื่อนที่ในเครือข่ายที่บริษัทกำหนด<br />
                4. เมื่อผู้ใช้บริการแจ้งความจำนงขอสมัครใช้บริการ SMS และบริษัทพิจารณาอนุมัติให้เป็นผู้ใช้บริการดังกล่าว
                เรียบร้อยแล้ว บริษัทจะจัดส่งข้อมูลการทำธุรกรรมทางการเงิน ไปยังหมายเลขโทรศัพท์เคลื่อนที่ที่ผู้ใช้บริการได้ลงทะเบียนไว้
                กับบริษัท ทุกวันตามประเภท Service Hour ที่ผู้ใช้บริการเลือกใช้<br />
                5. บริการ SMS นี้ใช้ประโยชน์ในการ แจ้งเตือนกำหนดวันชำระเงินวันสุดท้าย แจ้งเตือนวันประกาศรายชื่อผู้สมัครสอบและพิมพ์บัตรประจำตัวสอบ
                แจ้งเตือนวันสอบล่วงหน้า แจ้งเตือนเมื่อถึงวันประกาศผลสอบข้อเขียน และแจ้งเตือนเมื่อมีการประกาศสำคัญอื่นๆ เพิ่มเติมจากหน่วยงาน<br />
                6. รายการธุรกรรมที่ไม่ใช่รายการออนไลน์ เช่น การชำระเงินค่าสมัครสอบ จะไม่
                สามารถแจ้ง SMS ได้ทันที เนื่องจากติดกระบวนการทำงานของธุรกรรมนั้น<br />
                7. ผู้ใช้บริการตกลงชำระค่าตอบแทนการใช้บริการไม่ว่าจะเรียกว่าค่าธรรมเนียม ค่าบริการ หรือชื่ออื่นใด ให้แก่บริษัท ภายใน
                กำหนดเวลาชำระของค่าตอบแทนนั้นๆ<br />
                8. ผู้ใช้บริการตกลงรับผิดชอบค่าฤชาธรรมเนียม ภาษีอากร และค่าใช้จ่ายใดๆ ที่เกี่ยวข้องกับบริการ (หากมี) แต่เพียงฝ่ายเดียว
                หากบริษัทจำต้องทดรองจ่ายค่าฤชาธรรมเนียม ภาษีอากร และ/หรือค่าใช้จ่ายดังกล่าวตามวรรคก่อนแทนผู้ใช้บริการไปก่อน
                ผู้ใช้บริการตกลงชำระคืนให้แก่บริษัทโดยพลัน<br />
                9. ผู้ใช้บริการยินยอมให้บริษัทมีสิทธิหักเงินจากบัญชีเงินฝากประเภทใดๆ ที่ผู้ใช้บริการมีอยู่กับบริษัท หรือเงินซึ่งอยู่ในความ
                ครอบครองดูแล และ/หรือในอำนาจสั่งการของบริษัทไม่ว่าบริษัทจะได้รับฝากเงิน ได้การครอบครองดูแล และ/หรือได้
                อำนาจสั่งการนี้มาโดยทางใด เพื่อเข้าชำระหนี้ และ/หรือ ความรับผิดชอบของผู้ใช้บริการได้ทันทีโดยไม่จำเป็นต้องบอกกล่าว ทั้งนี้
                บริษัทจะนำส่งหลักฐานการหักบัญชีให้ผู้ใช้บริการทราบ กรณีเงินในบัญชีไม่เพียงพอสำหรับการหักค่าธรรมเนียมใช้บริการได้
                ทั้งจำนวน ผู้ใช้บริการตกลงยินยอมให้บริษัทหักค่าธรรมเนียมบางส่วนตามวิธีการที่บริษัทกำหนด เช่น หักต่อเนื่องทุกวัน
                จนกว่าบริษัทจะได้รับชำระค่าธรรมเนียมการใช้บริการจนครบถ้วน<br />
                10. การเปลี่ยนแปลงเงื่อนไขการใช้บริการ<br />
                10.1 หากเป็นการเปลี่ยนแปลงเงื่อนไขที่ส่งผลให้ผู้ใช้บริการเกิดภาระหรือความเสี่ยงที่เพิ่มขึ้น การเปลี่ยนแปลงดังกล่าวจะมีผล
                เมื่อผู้ใช้บริการให้ความยินยอม<br />
                10.2 หากเป็นการเปลี่ยนแปลงเงื่อนไขอื่น ผู้ใช้ บริการตกลงยินยอมให้บริษัทมีสิทธิเปลี่ยนแปลงได้ตามที่บริษัท
                เห็นสมควร โดยหากเป็นการเปลี่ยนแปลงที่มีผลกระทบต่อการใช้บริการของผู้ใช้บริการ (เช่น การปรับค่าธรรมเนียมการ
                ใช้บริการที่สอดคล้องกับต้นทุนที่เพิ่มขึ้น การเปลี่ยนแปลงช่องทางในการให้บริการ การเปลี่ยนแปลงวันครบกำหนด
                ชำระหนี้) บริษัทจะสื่อสารหรือแจ้งข้อมูลอันเป็นสาระสำคัญของการเปลี่ยนแปลงที่ชัดเจนให้ผู้ใช้บริการทราบ
                ล่วงหน้าไม่น้อยกว่า 30วัน หรือระยะเวลาอื่นตามที่กฎหมายกำหนด<br />
                10.3 หากมีกฎหมายและ/หรือกฎเกณฑ์กำหนดให้บริษัทต้องดำเนินการเกี่ยวกับการเปลี่ยนแปลงเงื่อนไขไว้เป็นการเฉพาะ
                เป็นอย่างอื่น ผู้ใช้บริการตกลงยินยอมให้บริษัทปฏิบัติตามกฎหมายและ/หรือกฎเกณฑ์ดังกล่าวได้<br />
                11. ผู้ใช้บริการตกลงยินยอมให้บริษัทมีสิทธิระงับ และ/หรือยกเลิกการให้บริการต่างๆ เมื่อใดก็ได้ ไม่ว่าทั้งหมดหรือบางส่วน
                หรือเฉพาะแต่ผู้ใช้บริการรายใดรายหนึ่ง โดยบริษัทจะแจ้งให้ผู้ใช้บริการทราบล่วงหน้า เว้นแต่ ในกรณีดังต่อไปนี้ ผู้ใช้บริการ
                ตกลงว่าบริษัทมีสิทธิระงับ และ/หรือยกเลิกการให้บริการ ไม่ว่าทั้งหมดหรือบางส่วนได้ทันทีตามที่บริษัทเห็นสมควร โดยไม่
                ต้องแจ้งให้ผู้ใช้บริการทราบล่วงหน้า และบริษัทไม่ต้องรับผิดชอบในความเสียหายใดๆ ที่เกิดจากการดำเนินการดังกล่าว<br />
                (1) ข้อมูล รายละเอียด คำรับรอง หรือคำยืนยันใดๆ ที่ผู้ใช้บริการให้ไว้กับบริษัท ไม่เป็นความจริง ไม่ถูกต้อง หรืออาจ
                ก่อให้เกิดความเข้าใจผิดในสาระสำคัญ<br />
                (2) หากปรากฏข้อเท็จจริงที่บริษัทเชื่อได้ว่า ข้อมูล และ/หรือรายละเอียดต่างๆ ที่ผู้ใช้บริการแจ้งแก่บริษัทให้ดำเนินการ
                อาจก่อให้เกิดผลกระทบในทางที่ไม่เป็นคุณเกิดขึ้น หรืออาจกระทบต่อสิทธิของบริษัทหรือบุคคลอื่น หรือมีความเสี่ยง
                ว่าผู้ใช้บริการอาจมีวัตถุประสงค์อันมิชอบตามกฎหมาย หรืออาจขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดีของ
                ประชาชน หรือไม่ปฏิบัติตามกฎ/หลักเกณฑ์ของบริษัท หรืออาจทำให้บริษัทปฏิบัติผิดกฎหมาย และ/หรือกฎ
                ข้อบังคับ และ/หรือคำสั่งใดๆ และ/หรือคำขอความร่วมมือใดๆ และกฎหรือคำสั่งใดๆ ของบริษัทแห่งประเทศไทย
                และ/หรือผู้ตรวจสอบ และ/หรือหน่วยงานผู้มีอำนาจควบคุมหรือกำกับดูแลบริษัท<br />
                (3) ผู้ใช้บริการปฏิบัติผิดข้อตกลงฯ ฉบับนี้ไม่ว่าข้อหนึ่งข้อใด ซึ่งรวมถึงการไม่ชำระค่าธรรมเนียมที่เกิดขึ้น หรือบริษัทไม่
                สามารถหักค่าธรรมเนียมการใช้บริการ SMS ไม่ว่าทั้งหมดหรือแค่บางส่วน และไม่ว่าด้วยเหตุใดก็ตาม<br />
                (4) ผู้ใช้บริการเสียชีวิต หรือผู้ใช้บริการเลิกกิจการ ถูกเพิกถอนทะเบียน หรือถูกระงับไม่ให้ดำเนินธุรกิจ หรือ
                มีการชำระบัญชี หรือถูกพิทักษ์ทรัพย์ หรือมีการดำเนินการเพื่อขอฟื้นฟูกิจการต่อศาลตามกฎหมายล้มละลาย<br />
                (5) บริษัทต้องปฏิบัติตามกฎหมาย ระเบียบ ข้อบังคับ หรือคำสั่งและ/หรือการขอความร่วมมือของศาล หรือผู้มีอำนาจ
                ตามกฎหมาย บริษัทแห่งประเทศไทย หรือหน่วยงานที่กำกับดูแลบริษัท<br />
                12. กรณีที่ผู้ใช้บริการเป็นผู้ยกเลิกหรือเปลี่ยนแปลงการใช้บริการ SMS ก่อนครบกำหนดระยะเวลาบริการตามที่สมัครไว้
                บริษัทขอสงวนสิทธิไม่คืนค่าธรรมเนียมที่ผู้ใช้บริการได้ชำระแก่บริษัทแล้ว<br />
                13. ข้อมูลด้านการเงิน การบัญชี หรือข้อมูลข่าวสารใดที่บริษัทจัดส่งให้ผู้ใช้บริการผ่านทางโทรศัพท์เคลื่อนที่ภายใต้บริการ SMS
                ถือเป็นข้อมูลลับที่ผู้ใช้บริการไม่พึงเปิดเผยต่อบุคคลภายนอก<br />
                14. ผู้ใช้บริการตกลงและรับทราบว่า บริการต่างๆ ที่ผู้ใช้บริการได้ใช้กับบริษัท จะต้องเป็นไปตามรูปแบบ ข้อกำหนดและ
                ประกาศต่างๆ ของบริษัทเกี่ยวกับการให้บริการแต่ละประเภท ตลอดจนเอกสารใดๆ ที่เกี่ยวข้องประกอบการใช้บริการแต่ละ
                ประเภท ซึ่งถือว่า เป็นส่วนหนึ่งของข้อตกลงฯ ฉบับนี้ด้วย ดังนั้นผู้ใช้บริการตกลงและยอมรับเงื่อนไขการให้บริการแต่ละ
                ประเภท และตกลงที่จะปฏิบัติตามรูปแบบ ข้อกำหนดและประกาศต่างๆ ของบริษัท ตลอดจนเอกสารใดๆ เกี่ยวกับ
                การให้บริการในแต่ละประเภท<br />
                15. ผู้ใช้บริการตกลงว่า ผู้ใช้บริการจะต้องอยู่ภายใต้กฎหมาย ข้อบังคับ และหลักเกณฑ์ใดๆ ของบริษัทแห่งประเทศไทย ศาล
                หน่วยงานกำกับดูแล และหน่วยงานอื่นใดที่มีอำนาจ (แล้วแต่กรณี) ทั้งที่มีอยู่ในขณะนี้และจะมีในภายหน้า (รวมเรียกว่า
                “กฎหมายและกฎเกณฑ์ที่เกี่ยวข้อง”) หากมีการเปลี่ยนแปลงกฎหมายและกฎเกณฑ์ที่เกี่ยวข้อง ผู้ใช้บริการตกลงว่า
                ผู้ใช้บริการจะต้องปฏิบัติตามกฎหมายและกฎเกณฑ์ที่เกี่ยวข้องที่เปลี่ยนแปลงนั้นทันทีตามที่บริษัทจะแจ้งให้ผู้ใช้บริการทราบ
                หากผู้ใช้บริการฝ่าฝืนหรือไม่ปฏิบัติตามกฎหมายและกฎเกณฑ์ที่เกี่ยวข้อง จนเป็นเหตุให้บริษัทถูกเรียกค่าปรับ ค่าเสียหาย
                และ/หรือค่าใช้จ่าย ผู้ใช้บริการตกลงรับผิดชอบชดใช้ค่าปรับ ค่าเสียหาย และ/หรือค่าใช้จ่ายดังกล่าวให้แก่บริษัทโดยพลัน<br />
                16. การเก็บรวบรวม ใช้ เปิดเผยข้อมูล<br />
                ผู้ใช้บริการตกลงยินยอมให้บริษัทเก็บรวบรวมและใช้ข้อมูลของผู้ใช้บริการที่ให้ไว้แก่บริษัท หรือให้ผ่านบริษัท หรือมีอยู่
                กับบริษัท หรือที่บริษัทได้รับหรือเข้าถึงได้จากแหล่งอื่น โดยมีวัตถุประสงค์ที่จำเป็นเพื่อการให้บริการแก่ผู้ใช้บริการ
                การดำเนินการตามคำขอของผู้ใช้บริการก่อนให้บริการ การมอบหมายงานให้ผู้อื่นสนับสนุนการให้บริการไม่ว่าจะเกี่ยวกับงาน
                เทคโนโลยีสารสนเทศ งานติดต่อสื่อสาร งานติดตามทวงถาม หรืองานอื่นใดก็ตาม การโอนสิทธิและ/หรือหน้าที่ การปฏิบัติตาม
                กฎหมาย การบริหารความเสี่ยง การควบคุมกำกับตรวจสอบ การบริหารจัดการภายในองค์กร การจัดการข้อร้องเรียน และ/หรือ
                เพื่อวัตถุประสงค์อื่นใดที่จำเป็นต่อการดำเนินการของบริษัทอย่างมีนัยสำคัญ หรือเพื่อให้บริษัทสามารถให้บริการได้อย่าง
                เป็นธรรมและต่อเนื่อง และผู้ใช้บริการตกลงยินยอมให้บริษัทเปิดเผยข้อมูลดังกล่าวให้แก่กลุ่มธุรกิจทางการเงินบริษัทกสิกรไทย
                ผู้ให้บริการภายนอก ตัวแทนของบริษัท ผู้รับจ้างช่วงงานต่อ พันธมิตรทางธุรกิจที่ออกผลิตภัณฑ์ร่วมกัน (co-brand)
                ผู้ประมวลผลข้อมูล ผู้สอบบัญชี ผู้ตรวจสอบภายนอก บริษัทข้อมูลเครดิต บริษัทจัดอันดับความน่าเชื่อถือ บริษัทบริหาร
                สินทรัพย์ ผู้สนใจจะเข้ารับโอนสิทธิ ผู้รับโอนสิทธิ ผู้มีอำนาจตามกฎหมาย และ/หรือหน่วยงาน/องค์กร/นิติบุคคลใดๆ ที่มีสัญญา
                อยู่กับบริษัท และยินยอมให้ผู้รับข้อมูลจากบริษัทดังกล่าว เก็บรวบรวม ใช้ และเปิดเผยข้อมูลดังกล่าวต่อไปได้ภายใต้
                วัตถุประสงค์ดังกล่าว และตกลงยินยอมให้ส่ง และ/หรือ โอนข้อมูลไปเก็บไว้บน server/cloud ในประเทศต่างๆ ที่เกี่ยวข้อง
                รายละเอียดอื่นๆ และสิทธิปรากฏในนโยบายการคุ้มครองข้อมูลส่วนบุคคลในเว็บไซต์ของบริษัท
                www.chanwanich.com
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="agree" type="button" class="btn btn-success btn-standard-size" disabled="disabled" style="background: lightgray; border: solid 1px gray;" ng-click="ok()">ยินยอม</button>
    <button type="button" class="btn btn-danger btn-standard-size ml-2" ng-click="cancel()">ไม่ยินยอม</button>
</div>
<script>
    $(document).ready(function () {
        $('#agreement').css('max-height', $(window).height() * 0.7);
        $('#agreement').css('height', $(window).height() * 0.7);

        $(window).on('resize', function () {
            $('#agreement').css('max-height', $(window).height() * 0.7);
            $('#agreement').css('height', $(window).height() * 0.7);
        });

        $('#agreement').scroll(function () {
            if ($(this).scrollTop() + $(this)[0].offsetHeight >= $(this)[0].scrollHeight) {
                $('#agree').removeAttr('disabled');
                $('#agree').removeAttr('style');
            }
        });
    });
</script>