<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Register.WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="mySwitch" value="4" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--add name="MyListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Log\VEC.Register.WebAPI.log"/-->
        <add name="MyEventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="CDD.Register.WebAPI" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="RegisterDB" connectionString="metadata=res://*/RegisterDBModel.csdl|res://*/RegisterDBModel.ssdl|res://*/RegisterDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.30.25;initial catalog=DLA64_OTAS_UAT;user id=dlaowner;password=Dla@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RegisterDB" connectionString="metadata=res://*/RegisterDBModel.csdl|res://*/RegisterDBModel.ssdl|res://*/RegisterDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.148.10.112;initial catalog=DLA64_OTAS_UAT;user id=dlaowner;password=Dla@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RegisterDB" connectionString="metadata=res://*/RegisterDBModel.csdl|res://*/RegisterDBModel.ssdl|res://*/RegisterDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.30.25;initial catalog=CDD_UAT;user id=cddowner;password=Cdd0wner;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMSRegisterService" value="http://10.10.20.111/UAT/SMSCenterAPI/api/Member/Register" />
    <add key="SMSPaymentStatus" value="http://10.10.20.111/UAT/SMSCenterAPI/api/Member/GetPaymentStatus" />
    <add key="QRCodeApiSMSFormatUrl" value="http://27.254.39.147/UAT/QrCodeApi/api/QrCode/?id=%7c{0}%0d{1}%0d{2}%0d{3}" />
    <add key="SMSProjectID" value="48CD9EE8-C39C-4642-857F-210D7D16C5E3" />
    <add key="SMSUser" value="onec" />
    <add key="SMSPassword" value="rAdF2pYvNwUxUO2jflF9MA==" />
    <add key="SMSApiKey" value="6AA18A82-6747-4021-98F8-0951BC2178A5" />
    <!--<add key="FaceServiceUrl" value="http://localhost/FaceDectCv2/FaceDetectionWS/FaceDetectionService.asmx" />-->
    <add key="FaceServiceUrl" value="http://27.254.39.147/UAT/OCS/FACEDetectionWS/FaceDetectionService.asmx" />
    <add key="EnableAutoBrightness" value="Y" />
    <add key="ValidateFaceRatio" value="Y" />
    <add key="ValidateWidthDivideHeight" value="Y" />
    <add key="MinFacePercent" value="10" />
    <add key="MaxFacePercent" value="70" />
    <add key="MinWidthHeightRatio" value="0.3" />
    <add key="MaxWidthHeightRatio" value="1" />
    <add key="PhotoImageHistoryPath" value="\\10.10.20.156\FileStorage_UAT\CDD\Photo.History" />
    <add key="PhotoImageTempPath" value="\\10.10.20.156\FileStorage_UAT\CDD\Temp" />
    <add key="PhotoImagePath" value="\\10.10.20.156\FileStorage_UAT\CDD\Photo" />
    <add key="PhotoDomain" value="." />
    <add key="PhotoUser" value="administrator" />
    <add key="PhotoPassword" value="password@1" />
    <!-- "เปิดใช้งาน Dopa Service" -->
    <add key="EnableDopaService" value="N" />
    <!-- description="ให้ Dopa Service timeout กี่วินาที" -->
    <add key="DopaServiceTimeout" value="30" />
    <add key="DocUploadTempPath" value="\\10.10.20.156\FileStorage_UAT\CDD\Temp\UploadDocs" />
    <add key="DocUploadPath" value="\\10.10.20.156\FileStorage_UAT\CDD\UploadDocs" />
    <add key="DocUploadHistoryPath" value="\\10.10.20.156\FileStorage_UAT\CDD\UploadDocs.History" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <httpModules>
    </httpModules>
    <machineKey decryptionKey="1022C171D25BAB434E93B50F04B4AC03FA3E9449AE57D9FD" validationKey="CEF7A961D633ECF25A3B6472798811C4C914C92DAED2BDF4C9ED1D9AD062AAFF649F2565AF0232C797AF4E2ABC489A25D8855E49F1DCE8ADC1EB6ED48071500B" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CheckCardBankServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CheckCardBankServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CheckCardBankServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://idcard.bora.dopa.go.th/CheckCardStatus/CheckCardService.asmx" binding="basicHttpBinding" bindingConfiguration="CheckCardBankServiceSoap" contract="DOPAService.CheckCardBankServiceSoap" name="CheckCardBankServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Register.WebAPI.Properties.Settings>
      <setting name="OCS_Register_WebAPI_FaceDetectionService_FaceDetectionService" serializeAs="String">
        <value>http://localhost/FaceDectCv2/FaceDetectionWS/FaceDetectionService.asmx</value>
      </setting>
    </Register.WebAPI.Properties.Settings>
  </applicationSettings>
</configuration>