<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="mySwitch" value="4" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--add name="MyListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Log\VEC.Register.Web.log"/-->
        <add name="MyEventListener" type="System.Diagnostics.EventLogTraceListener" initializeData="CDD.Register.Web" />
      </listeners>
    </trace>
  </system.diagnostics> 
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CaptchaStorage" value="Cookie" />
    <add key="CaptchaExpiresMinutes" value="15" />
    <!--<add key="CaptchaStorage" value="Session" />-->
    <!--<add key="ApiUrlServerSide" value="http://10.10.20.232/UAT/VEC/VEC.Register.WebAPI/api/" />-->
    <add key="ApiUrlServerSide" value="http://localhost/CDD/Register.WebAPI/api/" />
    <add key="ApiUrlClientSide" value="/CDD/Register.WebAPI/api/" />
    <add key="AppRoot" value="/CDD/Register.Web" />
    <add key="ReportPath" value="D:\Workspace\PJ-REG\CDD\trunk\Src\Register.Web\Reports" />
    <add key="FaceServiceUrl" value="http://27.254.40.47/FaceAPI/api/FaceDetection/DetectFace" />
    <add key="EnableButtonCamera" value="Y" />
    <!--<add key="TestTypeID" value="" />-->
    <add key="ExamType" value="CDD66" />
    <!--<add key="GoogleAnalyticID" value="G-W64MQ855TN" />-->
    <add key="PhotoImageHistoryPath" value="\\10.10.20.156\FileStorage_UAT\CDD\Photo.History" />
    <add key="PhotoImageTempPath" value="\\10.10.20.156\FileStorage_UAT\CDD\Temp" />
    <add key="PhotoImagePath" value="\\10.10.20.156\FileStorage_UAT\CDD\Photo" />
    <add key="PhotoDomain" value="." />
    <add key="PhotoUser" value="administrator" />
    <add key="PhotoPassword" value="password@1" />
    <add key="DocUploadTempPath" value="\\10.10.20.156\FileStorage_UAT\CDD\Temp\UploadDocs" />
    <add key="DocUploadPath" value="\\10.10.20.156\FileStorage_UAT\CDD\UploadDocs" />
    <add key="FaceDetectTimer" value="2" />
    <add key="ApplicationName" value="ระบบรับสมัครสอบ กรมการพัฒนาชุมชน" />
    <add key="IsTesting" value="Y" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="1048576" />
    <machineKey decryptionKey="1022C171D25BAB434E93B50F04B4AC03FA3E9449AE57D9FD" validationKey="CEF7A961D633ECF25A3B6472798811C4C914C92DAED2BDF4C9ED1D9AD062AAFF649F2565AF0232C797AF4E2ABC489A25D8855E49F1DCE8ADC1EB6ED48071500B" />
    <!--<httpCookies domain="utai.com" httpOnlyCookies="true" requireSSL="true" sameSite="Strict" />
    <anonymousIdentification cookieRequireSSL="false" />
    <sessionState cookieSameSite="Lax" />
    <roleManager cookieRequireSSL="false" />-->
    <sessionState mode="Off"></sessionState>
    <!--<sessionState mode="StateServer" timeout="30" stateConnectionstring="tcpip=localhost:42424">
    </sessionState>-->
    <customErrors mode="On">
      <error statusCode="404" redirect="Landing"></error>
      <error statusCode="500" redirect="/ServerError"></error>
    </customErrors>

    <!--<httpErrors errorMode="Custom" existingResponse="Auto">
    <clear />
    <error statusCode="404" path="/Landing" responseMode="ExecuteURL" />
    <error statusCode="500" path="/ServerError" responseMode="ExecuteURL" />
</httpErrors>-->
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="/NotFound"></error>
      <error statusCode="500" redirect="/ServerError"></error>
    </customErrors>

    <httpErrors errorMode="Custom" existingResponse="Auto">
      <clear />
      <error statusCode="404" path="/NotFound" responseMode="ExecuteURL" />
      <error statusCode="500" path="/ServerError" responseMode="ExecuteURL" />
    </httpErrors>-->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>