<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckCardBankServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CheckCardBankServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CheckCardBankServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://idcard.bora.dopa.go.th/CheckCardStatus/CheckCardService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CheckCardBankServiceSoap"
                contract="DOPAService.CheckCardBankServiceSoap" name="CheckCardBankServiceSoap" />
            <endpoint address="https://idcard.bora.dopa.go.th/CheckCardStatus/CheckCardService.asmx"
                binding="customBinding" bindingConfiguration="CheckCardBankServiceSoap12"
                contract="DOPAService.CheckCardBankServiceSoap" name="CheckCardBankServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>