<style>
    .table-register-manual {
        margin: auto auto;
    }

        .table-register-manual b {
            color: red;
        }

    #tableWarning {
        line-height: 1.5rem;
    }
</style>
<div class="row justify-content-center">
    <div class="border rounded col-md-10 p-md-3">
        <table style="width:80%;text-align:left;vertical-align:middle;border:0;" cellpadding="0" cellspacing="0"
               class="table-register-manual">
            <tbody>
                <tr>
                    <td style="text-align: center" colspan="2">
                        <span id="ctl00_ContentPlaceHolder1_lblManualHD_Line1" class="font-weight-bold">
                            คู่มือแนะนำการสมัครสอบ
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="2">
                        <span id="ctl00_ContentPlaceHolder1_Label202" class="font-weight-bold ">การสมัครสอบแข่งขันเพื่อบรรจุบุคคลเป็นข้าราชการหรือพนักงานท้องถิ่น<br>พ.ศ. 2564</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="2">
                        <span id="ctl00_ContentPlaceHolder1_Label203" class="font-weight-bold">เพื่อประโยชน์ของท่านเอง</span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="2">
                        <span id="ctl00_ContentPlaceHolder1_Label208" class="font-weight-bold">โปรดอ่านคำแนะนำการสมัครสอบให้เข้าใจโดยละเอียด</span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label209" class="label_data_header">
                            1.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label210" class="label_data_header">
                            ผู้สมัครสอบต้องเป็นผู้มีคุณวุฒิการศึกษาตรงตามที่กำหนดไว้ในคุณสมบัติเฉพาะสำหรับตำแหน่งที่สมัครสอบ  โดยต้องเป็นผู้สำเร็จการศึกษาและได้รับการอนุมัติจากผู้มีอำนาจอนุมัติภายในวันปิดรับสมัคร คือ<b>วันที่ 31 มีนาคม 2564</b>
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label211" class="label_data_header">
                            2.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label227" class="label_data_header">
                            ผู้สมัครสอบ<b>มีสิทธิสมัครได้เพียง 1 กลุ่มภาค/เขต</b> และเลือกสมัครได้เพียง <b>1 ตำแหน่งเท่านั้น</b> เมื่อส่งใบสมัครสอบแล้ว ไม่สามารถเปลี่ยนแปลงหรือแก้ไขได้
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label228" class="label_data_header">
                            3.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label229" class="label_data_header">
                            ข้อมูลที่กรอกในใบสมัครสอบจะต้องเป็นข้อมูลตรงตามความเป็นจริง หากมีการตรวจสอบเอกสารและ/หรือหลักฐานคุณวุฒิการศึกษาซึ่งผู้สมัครสอบนำมายื่นไม่ตรง หรือไม่เป็นไปตามประกาศรับสมัครสอบ ถือว่าผู้สมัครสอบเป็นผู้ขาดคุณสมบัติในการสอบครั้งนี้มาตั้งแต่ต้น และไม่สามารถเรียกร้องสิทธิใดๆ ทั้งสิ้น
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label230" class="label_data_header">
                            4.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label231" class="label_data_header">
                            ผู้สมัครสอบต้องตรวจทานข้อมูลที่กรอกในใบสมัครสอบให้ถูกต้องและสมบูรณ์ก่อนที่จะส่งใบสมัครสอบ เมื่อส่งใบสมัครที่มีข้อมูลผิดพลาดอันเนื่องมาจากการกรอกข้อมูลของผู้สมัครสอบไปแล้ว จะไม่สามารถกลับมาแก้ไขข้อมูลได้อีก
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label232" class="label_data_header">
                            5.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label233" class="label_data_header">
                            ชื่อ นามสกุล และเลขประจำตัวประชาชน 13 หลัก ที่กรอกไว้ในใบสมัครสอบจะต้องตรงกับบัตรประจำตัวประชาชน หรือบัตรประจำตัวเจ้าหน้าที่ของรัฐ หรือบัตรประจำตัวข้าราชการกลาโหม หรือบัตรประจำตัวทหารกองประจำการ หรือเอกสารรับรองรายการบัตรประจำตัวประชาชนฉบับจริง (ที่นายทะเบียนรับรอง) ของผู้สมัครสอบ และหลักฐานการแสดงตนเพื่อเข้าห้องสอบ หากไม่ตรงจะไม่อนุญาตให้เข้าห้องสอบโดยเด็ดขาด
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>

                <tr>
                    <td width="3%" style="vertical-align: top">
                        <span id="ctl00_ContentPlaceHolder1_Label234" class="label_data_header">
                            6.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label235" class="label_data_header">
                            คุณวุฒิการศึกษาที่ผู้สมัครใช้ในการสมัครต้องเป็นคุณวุฒิในระดับ และสาขาหรือทางตามที่กำหนดในคุณสมบัติเฉพาะสำหรับตำแหน่งที่สมัครสอบตามประกาศรับสมัคร
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: top">
                        <span id="ctl00_ContentPlaceHolder1_Label236" class="label_data_header">
                            7.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label237" class="label_data_header">
                            ผู้สมัครสอบ จะต้องอัปโหลดภาพถ่าย สำหรับใช้ในการสอบครั้งนี้ เป็นภาพถ่ายสีหน้าตรง ชุดสภาพ ไม่สวมหมวกและไม่สวมแว่นตาดำ ซึ่งถ่ายไม่เกิน 6 เดือน (โดยอนุญาตให้ใช้ภาพถ่าย จากโทรศัพท์มือถือได้)
                        </span>
                    </td>
                </tr>
				<tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: top">
                        <span id="ctl00_ContentPlaceHolder1_Label8" class="label_data_header">
                            8.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label237" class="label_data_header">
                            เมื่อผู้สมัครสอบส่งใบสมัครในระบบแล้ว จะสามารถพิมพ์ใบสมัคร <b>(ซึ่งยังไม่มีเลขประจำตัวสอบ)</b>  และต้องพิมพ์แบบฟอร์มการชำระเงิน นำไปชำระค่าธรรมเนียมสอบ โดยจะต้องดำเนินการ ดังนี้
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>

                <tr>
                    <td width="3%" style="vertical-align: text-top"></td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label238" class="label_data_header">
                            8.1 พิมพ์แบบฟอร์มการชำระเงิน นำไปชำระเงินค่าธรรมเนียมการสมัครสอบ โดยผู้สมัครสอบสามารถชำระเงินได้ 2 ช่องทาง คือ  ตู้ ATM ของธนาคารไทยพาณิชย์ และธนาคารที่เข้าร่วม Cross Bank Bill Payment หรือชำระเงินผ่านทางโทรศัพท์มือถือ (Mobile Application) ภายในเวลาที่กำหนด คือ วันที่ <b>9 มีนาคม 2564 ถึง วันที่ 1 เมษายน 2564</b> (วันที่ <b>1 เมษายน 2564</b> ชำระได้ถึงเวลา <b>23.00 น.</b>)
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top"></td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label239" class="label_data_header">
                            8.2 หลังจากที่ได้ชำระเงินค่าธรรมเนียมการสมัครสอบแล้ว ตั้งแต่<b>วันที่ 5 เมษายน 2564</b> ผู้สมัครสามารถเข้ามาตรวจสอบรายชื่อผู้มีสิทธิสอบและเลขประจำตัวสอบ ได้ที่ปุ่ม <b>“ตรวจสอบรายชื่อผู้มีสิทธิเข้าสอบภาค ก ภาค ข และสถานที่สอบ”</b> และจะประกาศ วัน เวลา สถานที่สอบ และระเบียบเกี่ยวกับการสอบ ใน<b>วันที่ 20 เมษายน 2564</b> ผู้สมัครสามารถเข้ามาตรวจสอบรายชื่อผู้มีสิทธิสอบภาคความรู้ความสามารถทั่วไป (ภาค ก)  ภาคความรู้ความสามารถเฉพาะตำแหน่ง (ภาค ข) และสถานที่สอบด้วยตนเองได้ ที่ปุ่ม <b>“ตรวจสอบรายชื่อผู้มีสิทธิเข้าสอบภาค ก ภาค ข และสถานที่สอบ”</b> และจะสามารถพิมพ์บัตรประจำตัวสอบได้ โดยคลิกที่ปุ่ม <b>“พิมพ์บัตรประจำตัวผู้เข้าสอบ”</b> เพื่อใช้เป็นหลักฐานในการเข้าสอบ
</span>
                    </td>
                </tr>

                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>

                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label240" class="label_data_header">
                            9.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label241" class="label_data_header">
                            ผู้สมัครสอบต้องนำหลักฐานและเอกสารที่ใช้แสดงตนเพื่อเข้าห้องสอบและส่งมอบให้กรรมการคุมสอบหรือเจ้าหน้าที่คุมสอบในการเข้าสอบให้ครบถ้วน ตามที่กำหนดในประกาศรับสมัครสอบแข่งขันฯ  หากขาดหลักฐานข้อหนึ่งข้อใดจะไม่อนุญาตให้เข้าสอบโดยเด็ดขาด
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>

                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label242" class="label_data_header">
                            10.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label243" class="label_data_header">
                           ผู้สมัครสอบต้องเข้าสอบภาคความรู้ความสามารถทั่วไป (ภาค ก) และภาคความรู้ความสามารถเฉพาะสำหรับตำแหน่ง (ภาค ข) ก่อน ทั้งนี้ ผู้ที่สอบผ่านภาค ก และภาค ข ตามเกณฑ์ที่กำหนดในประกาศรับสมัคร จึงจะมีสิทธิเข้าสอบภาคความเหมาะสมกับตำแหน่ง (ภาค ค) ซึ่งจะประกาศให้ทราบในภายหลัง
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>

                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label244" class="label_data_header">
                            11.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label245" class="label_data_header">
                            การจัดที่นั่งสอบและเลขประจำตัวสอบในการสอบแข่งขันครั้งนี้ ขึ้นอยู่กับดุลยพินิจในการบริหารจัดการที่นั่งสอบให้มีความเหมาะสม โดย กสถ. จะประกาศรายชื่อผู้มีสิทธิเข้าสอบแข่งขัน วัน เวลา สถานที่สอบ และระเบียบเกี่ยวกับการสอบ ตั้งแต่ <b>วันที่ 20 เมษายน 2564</b> เป็นต้นไป ซึ่งผู้เข้าสอบต้องปฏิบัติอย่างเคร่งครัด ทั้งนี้ ผู้สมัครสอบจะต้องตรวจสอบวัน เวลา และสถานที่สอบ ให้ตรงกับตำแหน่งที่สมัครสอบเพื่อเข้าสอบให้ถูกต้อง
                        </span>
                    </td>
                </tr>
                <tr style="height: 20px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>


                <tr>
                    <td style="text-align: center" colspan="2">
                        <span id="ctl00_ContentPlaceHolder1_Label250" class="label_data_header">
                            ทั้งนี้ ผู้สมัครสอบสามารถอ่านรายละเอียดเพิ่มเติมได้ในประกาศรับสมัครสอบแข่งขันฯ
                        </span>
                    </td>
                </tr>

                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center; vertical-align: middle" colspan="2">
                        <hr style="width: 80%">
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>

            </tbody>
        </table>
        <table style="width:80%;text-align:left;vertical-align:middle;border:0;" cellpadding="0" cellspacing="0"
               class="table-register-manual">
            <tbody>
                <tr>
                    <td style="text-align: center" colspan="2">
                        <span class="font-weight-bold">ขั้นตอนการกรอกใบสมัครสอบและพิมพ์แบบฟอร์มชำระเงิน</span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_lblHDLine1" class="label_data_header">
                            1.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_lblLine1" class="label_data_header">
                            คลิกที่ปุ่ม <b>"สมัครสอบแข่งขัน อปท."</b> เพื่อสมัครสอบ
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_lblHDLine2" class="label_data_header">
                            2.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_lblLine2" class="label_data_header">
                            อ่านรายละเอียด คู่มือแนะนำการสมัครสอบ และ ขั้นตอนการกรอกใบสมัครสอบและพิมพ์แบบฟอร์มชำระเงิน รวมถึง ข้อควรระวัง ให้ครบถ้วน จากนั้นคลิกปุ่ม <b>“ดำเนินการต่อ”</b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_lblHDLine3" class="label_data_header">
                            3.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_lblLine3" class="label_data_header">
                            ดำเนินการเลือกภาค/เขต ที่เปิดรับสมัคร โดยสามารถดำเนินการได้โดยการคลิก ข้อความ <b>“คลิกที่นี่เพื่อสมัคร”</b> ในบรรทัดของภาค/เขต ที่เปิดรับสมัคร
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_lblHDLine4" class="label_data_header">
                            4.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_lblLine4" class="label_data_header">
                            เลือกตำแหน่งที่เปิดรับสมัคร โดยทำการเลือกประเภทก่อน จากนั้นจึงเลือกตำแหน่งที่เปิดรับสมัคร โดยการคลิก ข้อความ <b>“คลิกที่นี่เพื่อสมัคร”</b> ในบรรทัดของตำแหน่งที่ต้องการสมัคร
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_lblHDLine5" class="label_data_header">
                            5.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_lblLine5" class="label_data_header">
                            กรอกข้อมูลยืนยันตัวตนด้วย รหัสบัตรประจำตัวประชาชน ชื่อ นามสกุล วันเกิด และรหัสหลังบัตรประชาชน (Laser Code) ให้ครบถ้วน และ คลิกปุ่ม <b>“สมัครสอบ”</b>
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_lblHDLine6" class="label_data_header">
                            6.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_lblLine6" class="label_data_header">
                            ดำเนินการกรอกข้อมูลส่วนบุคคลที่ระบบกำหนดไว้ ให้ครบถ้วน และอัปโหลดภาพถ่ายผู้สมัครสอบ และคลิกปุ่ม <b>“ถัดไป”</b>
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label246" class="label_data_header">
                            7.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label247" class="label_data_header">
                            ทำการตรวจทานข้อมูลให้ถูกต้องอีกครั้ง และคลิกปุ่ม <b>“ยืนยัน”</b> หากพบว่า มีการกรอกข้อมูลผิดพลาดให้คลิกปุ่ม <b>“แก้ไข”</b> เพื่อทำการแก้ไขข้อมูลและคลิกปุ่ม <b>“ถัดไป”</b>อีกครั้ง จากนั้นทำการตรวจทานอีกครั้ง เมื่อพบว่าข้อมูลถูกต้อง จึงคลิกปุ่ม <b>“ยืนยัน”</b>
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label248" class="label_data_header">
                            8.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label249" class="label_data_header">
                            ทำการตรวจสอบข้อมูลสำคัญครั้งสุดท้าย ว่าตรงกับความต้องการในการสมัครสอบหรือไม่ จากนั้น คลิกปุ่ม <b>“ส่งใบสมัคร”</b>
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr>
                    <td width="3%" style="vertical-align: text-top">
                        <span id="ctl00_ContentPlaceHolder1_Label251" class="label_data_header">
                            9.
                        </span>
                    </td>
                    <td width="97%">
                        <span id="ctl00_ContentPlaceHolder1_Label252" class="label_data_header">
                            ทำการพิมพ์ใบสมัคร <b>(ซึ่งยังไม่มีเลขประจำตัวสอบ)</b> โดยคลิกปุ่ม <b>“พิมพ์ใบสมัคร”</b> และพิมพ์แบบฟอร์มการชำระเงิน โดยการคลิกปุ่ม <b>“พิมพ์แบบฟอร์มการชำระเงิน”</b> นำไปชำระเงินค่าธรรมเนียมการสมัครสอบ ได้ 2 ช่องทาง คือ ตู้ ATM ของธนาคารไทยพาณิชย์ และธนาคารที่เข้าร่วม Cross Bank Bill Payment หรือ ชำระผ่านทางโทรศัพท์มือถือ (Mobile Application) ภายในเวลาที่กำหนด คือ <b>วันที่ 9 มีนาคม 2564 ถึง วันที่ 1 เมษายน 2564</b> (<b>วันที่ 1 เมษายน 2564</b> ชำระได้ถึงเวลา <b>23.00 น.</b>)  
                        </span>
                    </td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
                <tr style="height: 10px">
                    <td style="text-align: center" colspan="2"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table id="tableWarning" cellpadding="5" cellspacing="5"
               class="mx-auto"
               style="border:0;width:75%;text-align: left; vertical-align: middle; background-color: #ffccff">
            <tbody>
                <tr>
                    <td width="100%" colspan="2">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr style="height: 30px">
                                    <td colspan="2" width="100%" align="left" style="vertical-align: middle">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning" class="font-weight-bold" style="font-weight:bold;text-decoration:underline;">
                                            ข้อควรระวัง

                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 10px">
                                    <td style="text-align: center" colspan="2"></td>
                                </tr>
                                <tr style="display: none">
                                    <td width="3%" style="vertical-align: text-top; text-align: center">
                                        <span id="ctl00_ContentPlaceHolder1_lblHDWarning1" class="label_data_header">
                                            -
                                        </span>
                                    </td>
                                    <td width="97%">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning1" class="label_data_header" style="color:Red;font-weight:bold;">
                                            ผู้สมัครสอบสามารถสมัครได้เพียงครั้งเดียว ในตำแหน่งระดับปฏิบัติงานหรือระดับปฏิบัติการเพียงระดับเดียว และเพียง 1 ตำแหน่งของระดับที่เลือกนั้น
                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 10px">
                                    <td style="text-align: center" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="3%" style="vertical-align: text-top; text-align: center">
                                        <span id="ctl00_ContentPlaceHolder1_lblHDWarning2" class="label_data_header">
                                            -
                                        </span>
                                    </td>
                                    <td width="97%">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning2" class="label_data_header">
                                            ชื่อ และนามสกุล ที่ท่านกรอกลงใน <b>"แบบฟอร์มใบสมัครออนไลน์"</b> จะต้องเป็นชื่อและนามสกุลที่ตรงกับบัตรประจำตัวประชาชนของท่าน
                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 10px">
                                    <td style="text-align: center" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="3%" style="vertical-align: text-top; text-align: center">
                                        <span id="ctl00_ContentPlaceHolder1_lblHDWarning3" class="label_data_header">
                                            -
                                        </span>
                                    </td>
                                    <td width="97%">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning3" class="label_data_header">
                                            กรุณาตรวจสอบเลขประจำตัวประชาชนของท่านให้ถูกต้อง ( 13 หลัก ) เนื่องจากเลขประจำตัวประชาชนของท่านจะใช้เป็นเลขที่อ้างอิงตลอดการสอบ
                                        </span>
                                    </td>
                                </tr>
								<tr style="height: 10px">
                                    <td style="text-align: center" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="3%" style="vertical-align: text-top; text-align: center">
                                        <span id="ctl00_ContentPlaceHolder1_lblHDWarning7" class="label_data_header">
                                            -
                                        </span>
                                    </td>
                                    <td width="97%">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning7" class="label_data_header">
                                            ภาพถ่ายที่ใช้ในการสมัครสอบ ต้องเป็นภาพถ่ายสีหน้าตรง ชุดสภาพ ไม่สวมหมวก และไม่สวมแว่นตาดำ ซึ่งถ่ายไม่เกิน 6 เดือน (โดยอนุญาตให้ใช้ภาพถ่ายจากโทรศัพท์มือถือได้)
                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 10px">
                                    <td style="text-align: center" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="3%" style="vertical-align: text-top; text-align: center">
                                        <span id="ctl00_ContentPlaceHolder1_lblHDWarning4" class="label_data_header">
                                            -
                                        </span>
                                    </td>
                                    <td width="97%">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning4" class="label_data_header">
                                            การกรอกข้อมูลในใบสมัคร จะต้องเป็นข้อมูลที่ถูกต้องและเป็นจริงทุกประการ ดังนั้นกรุณาตรวจทานข้อมูลให้ละเอียดก่อนคลิกปุ่ม <b>"ส่งใบสมัคร"</b> เพราะเมื่อท่านส่งใบสมัครที่มีข้อมูลผิดพลาดอันเกิดจากการกรอกข้อมูลของท่านเองไปแล้ว จะไม่สามารถแก้ไขข้อมูลได้อีก และหากตรวจพบว่าท่านมีคุณสมบัติไม่ตรงตามที่กรอกไว้ หรือขาดคุณสมบัติข้อใดข้อหนึ่งตามประกาศรับสมัครสอบ ให้ถือว่าท่านขาดคุณสมบัติในการสมัครสอบครั้งนี้มาตั้งแต่ต้นและท่านจะไม่สามารถเรียกร้องสิทธิใด ๆ ได้ทั้งสิ้น
                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 10px">
                                    <td style="text-align: center" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="3%" style="vertical-align: text-top; text-align: center">
                                        <span id="ctl00_ContentPlaceHolder1_lblHDWarning5" class="label_data_header">
                                            -
                                        </span>
                                    </td>
                                    <td width="97%">
                                        <span id="ctl00_ContentPlaceHolder1_lblWarning5" class="label_data_header">
                                            ควรอ่านประกาศขั้นตอนการสมัครสอบและคู่มือแนะนำการสมัครสอบให้เข้าใจก่อนที่จะสมัครสอบ เพื่อรักษาผลประโยชน์ของท่านเอง หากมีข้อสงสัยเกี่ยวกับข้อมูลด้านการรับสมัครสอบ และรายละเอียดเกี่ยวกับการใช้งานระบบ กรุณาติดต่อ โทร 02-697-0988
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>